html,body
  width: 100%
  height: 100%
.container
  width: 100%
  position: absolute
  top: 0
  bottom: 0
  display: flex
  flex-direction: column
  font-size: .16rem
  header
    width: 100%
    height: .44rem
    line-height: .44rem
    background: #000
    color: #ffffff
    position: relative
    i
      position: absolute
    .i1
      left: 15px
    .i2
      right: 15px
    span
      margin-left: 45px